---
layout: default
title: Tags
permalink: /tags/
---

<h2>All Tags</h2>

<div class="tag-cloud">
    <h3>Tag Cloud</h3>
    <div class="tags">
        {% assign sorted_tags = site.tags | sort %}
        {% for tag in sorted_tags %}
            <a href="#{{ tag[0] | slugify }}" class="tag">
                {{ tag[0] }}
                <span class="tag-count">{{ tag[1].size }}</span>
            </a>
        {% endfor %}
    </div>
</div>

{% for tag in sorted_tags %}
    <section id="{{ tag[0] | slugify }}" style="margin: 3rem 0;">
        <h3 style="color: var(--primary-color);">{{ tag[0] }}</h3>
        <div class="post-list">
            {% for post in tag[1] %}
                <article class="post-item">
                    <div class="post-meta">
                        <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
                    </div>
                    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                    <div class="excerpt">{{ post.excerpt | strip_html | truncatewords: 15 }}</div>
                </article>
            {% endfor %}
        </div>
    </section>
{% endfor %}